### datasets : https://grouplens.org/datasets/movielens

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Machine de Bolzmane
import pandas as pd
import numpy as np
import torch
import torch.nn as nn # contruire des réseaux de neurones
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data 
from torch.autograd import Variable

In [4]:
movies = pd.read_csv("ml-1m/movies.dat",sep="::", header=None, engine="python",encoding="latin-1")

In [5]:
movies # identiant && nom de film && type de film

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [6]:
users = pd.read_csv("ml-1m/users.dat",sep="::", header=None, engine="python",encoding="latin-1")

In [7]:
users # Identifiant && sex (F || M) && ages && categorie socio-prof && code postal

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [8]:
ratings = pd.read_csv("ml-1m/ratings.dat",sep="::", header=None, engine="python",encoding="latin-1")

In [9]:
ratings # Identifiant users && numero de film  && la notes && timestamp

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [10]:
## Préparation des données training
training_set = pd.read_csv("ml-100k/u1.base",delimiter="\t",header=None)

In [11]:
training_set=np.array(training_set,dtype="int") # convertir en array

In [12]:
training_set

array([[        1,         1,         5, 874965758],
       [        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [15]:
test_set = pd.read_csv("ml-100k/u1.test",delimiter="\t",header=None)
test_set=np.array(test_set,dtype="int")

In [16]:
# Getting the number of users and movies
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [17]:
# Converting the data into an array with users in lines and movies in columns
def convert(data):
    new_data = []
    for id_users in range(1, nb_users + 1):
        id_movies = data[:,1][data[:,0] == id_users]
        id_ratings = data[:,2][data[:,0] == id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data
training_set = convert(training_set)
test_set = convert(test_set)

In [18]:
# Converting the data into Torch tensors
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [22]:
# Creating the architecture of the Neural Network
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x): # encoder et décoder l'informatio jusqu'à la sortie
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5) ## weight_decay = le taux pour diminiuer l'apprentissage

In [20]:
# Training the SAE
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0) # unsqueeze : ajouter une dime
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.item()*mean_corrector)
            s += 1.
            optimizer.step()
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

epoch: 1 loss: 1.7715216420328952
epoch: 2 loss: 1.0968416144595083
epoch: 3 loss: 1.0534766252575039
epoch: 4 loss: 1.0384800752288426
epoch: 5 loss: 1.0307393042081323
epoch: 6 loss: 1.0265650557182449
epoch: 7 loss: 1.0238976805201137
epoch: 8 loss: 1.0218469846613543
epoch: 9 loss: 1.0211554585666096
epoch: 10 loss: 1.0197087685778412
epoch: 11 loss: 1.0186750954902462
epoch: 12 loss: 1.0182622608496072
epoch: 13 loss: 1.0177925236162308
epoch: 14 loss: 1.0175210403323567
epoch: 15 loss: 1.0172530580307153
epoch: 16 loss: 1.016725302413842
epoch: 17 loss: 1.0166457709612216
epoch: 18 loss: 1.0164272238803829
epoch: 19 loss: 1.0161379040051388
epoch: 20 loss: 1.0162436473073095
epoch: 21 loss: 1.0157986933535323
epoch: 22 loss: 1.0159995524629746
epoch: 23 loss: 1.0157513720211122
epoch: 24 loss: 1.0158052900917953
epoch: 25 loss: 1.0157917434175396
epoch: 26 loss: 1.0155794677098062
epoch: 27 loss: 1.015430355904924
epoch: 28 loss: 1.0151310021444757
epoch: 29 loss: 1.0126245797900302
epoch: 30 loss: 1.011184916465194
epoch: 31 loss: 1.009421915772325
epoch: 32 loss: 1.0069808323675513
epoch: 33 loss: 1.0071429229574116
epoch: 34 loss: 1.0039886702075123
epoch: 35 loss: 1.0026842026623781
epoch: 36 loss: 0.9999166318872786
epoch: 37 loss: 0.9976581741840687
epoch: 38 loss: 0.9942443963187718
epoch: 39 loss: 0.9911044990817673
epoch: 40 loss: 0.9905874228146327
epoch: 41 loss: 0.9893820965191186
epoch: 42 loss: 0.986020000317906
epoch: 43 loss: 0.9856001208796675
epoch: 44 loss: 0.9820176343641558
epoch: 45 loss: 0.985389012931554
epoch: 46 loss: 0.9844978489230048
epoch: 47 loss: 0.9836904281901205
epoch: 48 loss: 0.9810712227661743
epoch: 49 loss: 0.9775966907200019
epoch: 50 loss: 0.9789938479169289
epoch: 51 loss: 0.9753199789597529
epoch: 52 loss: 0.9731686162437536
epoch: 53 loss: 0.975691764911102
epoch: 54 loss: 0.9732227182716999
epoch: 55 loss: 0.9689294307286691
epoch: 56 loss: 0.9676611309304977
epoch: 57 loss: 0.9708334080721236
epoch: 58 loss: 0.9645828601788833
epoch: 59 loss: 0.9647722660647116
epoch: 60 loss: 0.9631036961774312
epoch: 61 loss: 0.9635084172588363
epoch: 62 loss: 0.9642265510012469
epoch: 63 loss: 0.9597057597509435
epoch: 64 loss: 0.9566464525127929
epoch: 65 loss: 0.9556216466101944
epoch: 66 loss: 0.9572820904436758
epoch: 67 loss: 0.9549808281390614
epoch: 68 loss: 0.9512224392004299
epoch: 69 loss: 0.9536726633788931
epoch: 70 loss: 0.9498109535475627
epoch: 71 loss: 0.9506046176583852
epoch: 72 loss: 0.948132501565624
epoch: 73 loss: 0.9485460049435697
epoch: 74 loss: 0.9467445121599697
epoch: 75 loss: 0.947151898144274
epoch: 76 loss: 0.9444171192814946
epoch: 77 loss: 0.9452651547924902
epoch: 78 loss: 0.9431941788651528
epoch: 79 loss: 0.9437374471590307
epoch: 80 loss: 0.9419224607124668
epoch: 81 loss: 0.9426045845838332
epoch: 82 loss: 0.9404510037279404
epoch: 83 loss: 0.941216423383104
epoch: 84 loss: 0.9394658475566828
epoch: 85 loss: 0.939750678097373
epoch: 86 loss: 0.9384706259724828
epoch: 87 loss: 0.9380376717344145
epoch: 88 loss: 0.9373915614970335
epoch: 89 loss: 0.9379148728113883
epoch: 90 loss: 0.9382038818570705
epoch: 91 loss: 0.9375476519401109
epoch: 92 loss: 0.9356594889818964
epoch: 93 loss: 0.9364027337474641
epoch: 94 loss: 0.9364038574691096
epoch: 95 loss: 0.9360340092473336
epoch: 96 loss: 0.9348535719607503
epoch: 97 loss: 0.9354318427079374
epoch: 98 loss: 0.9343324252747229
epoch: 99 loss: 0.9345907076937604
epoch: 100 loss: 0.9334614289956796
epoch: 101 loss: 0.9334060883792838
epoch: 102 loss: 0.9332171472715598
epoch: 103 loss: 0.9325260015332361
epoch: 104 loss: 0.9323074779255573
epoch: 105 loss: 0.9316821104723858
epoch: 106 loss: 0.9312373460478695
epoch: 107 loss: 0.9316152022670028
epoch: 108 loss: 0.931142650860943
epoch: 109 loss: 0.9309332861661449
epoch: 110 loss: 0.9296869199487928
epoch: 111 loss: 0.9300199407824885
epoch: 112 loss: 0.9293008198282378
epoch: 113 loss: 0.9297921927732588
epoch: 114 loss: 0.9286168914824747
epoch: 115 loss: 0.9286824726232047
epoch: 116 loss: 0.9277161073509606
epoch: 117 loss: 0.9282878796266577
epoch: 118 loss: 0.9271081544819528
epoch: 119 loss: 0.9277114531527433
epoch: 120 loss: 0.9270521357227312
epoch: 121 loss: 0.9270157005871564
epoch: 122 loss: 0.9260805033576323
epoch: 123 loss: 0.9261583808362734
epoch: 124 loss: 0.9254407319512434
epoch: 125 loss: 0.9255612929450185
epoch: 126 loss: 0.9252597739800021
epoch: 127 loss: 0.9253538544296378
epoch: 128 loss: 0.9242563387567885
epoch: 129 loss: 0.9243001781128223
epoch: 130 loss: 0.9239802438769148
epoch: 131 loss: 0.9237688661840014
epoch: 132 loss: 0.9230167202802453
epoch: 133 loss: 0.9234532086172161
epoch: 134 loss: 0.922692095269715
epoch: 135 loss: 0.9232218846578425
epoch: 136 loss: 0.9221672746528604
epoch: 137 loss: 0.9224871673540838
epoch: 138 loss: 0.9217249900362033
epoch: 139 loss: 0.922116415626195
epoch: 140 loss: 0.9212278414698468
epoch: 141 loss: 0.9216494332840456
epoch: 142 loss: 0.9205251895322631
epoch: 143 loss: 0.9211340639294262
epoch: 144 loss: 0.9203587797003085
epoch: 145 loss: 0.9205007156927636
epoch: 146 loss: 0.9197556852892205
epoch: 147 loss: 0.9200731439557082
epoch: 148 loss: 0.9193622607950831
epoch: 149 loss: 0.9195261042144166
epoch: 150 loss: 0.9190581006392964
epoch: 151 loss: 0.9190813253718199
epoch: 152 loss: 0.9184725198801046
epoch: 153 loss: 0.9188856766176948
epoch: 154 loss: 0.9179879906751514
epoch: 155 loss: 0.9182985547769459
epoch: 156 loss: 0.9179333389757314
epoch: 157 loss: 0.9181256008872264
epoch: 158 loss: 0.9172195359208885
epoch: 159 loss: 0.9174802104879648
epoch: 160 loss: 0.9170574794445195
epoch: 161 loss: 0.917020127593064
epoch: 162 loss: 0.9164026894337889
epoch: 163 loss: 0.9166322949850958
epoch: 164 loss: 0.9161227669485992
epoch: 165 loss: 0.9167030497551742
epoch: 166 loss: 0.9158260410175287
epoch: 167 loss: 0.9160683769752072
epoch: 168 loss: 0.9153311911176144
epoch: 169 loss: 0.9160253594128398
epoch: 170 loss: 0.915492969836458
epoch: 171 loss: 0.9156325761189232
epoch: 172 loss: 0.915116931103337
epoch: 173 loss: 0.9154369643526519
epoch: 174 loss: 0.9147014700981327
epoch: 175 loss: 0.9149325638050588
epoch: 176 loss: 0.9143668855540378
epoch: 177 loss: 0.914625192597422
epoch: 178 loss: 0.914313544755908
epoch: 179 loss: 0.9145311952684175
epoch: 180 loss: 0.9140918607103983
epoch: 181 loss: 0.914413776907504
epoch: 182 loss: 0.9139254260092096
epoch: 183 loss: 0.9142051846050697
epoch: 184 loss: 0.9135992207630779
epoch: 185 loss: 0.9138454241817959
epoch: 186 loss: 0.9133291774846123
epoch: 187 loss: 0.9134748784933147
epoch: 188 loss: 0.9131564427129695
epoch: 189 loss: 0.9133323343592511
epoch: 190 loss: 0.9128410692080768
epoch: 191 loss: 0.9130810477779965
epoch: 192 loss: 0.9126118844194769
epoch: 193 loss: 0.9127998238166205
epoch: 194 loss: 0.9123738889265994
epoch: 195 loss: 0.9125772847252946
epoch: 196 loss: 0.9121450801832921
epoch: 197 loss: 0.9123848002423794
epoch: 198 loss: 0.9118171103855146
epoch: 199 loss: 0.9120968943277279
epoch: 200 loss: 0.9117513157556159

In [21]:
# Testing the SAE
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user])
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[0, target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.item()*mean_corrector)
        s += 1.
print('test loss: '+str(test_loss/s))

test loss: 0.9489126494257722